* {
  font-family: 'Quicksand', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  margin-bottom: 12px;
}

h3 {
  font-size: 26px;
  margin-bottom: 10px;
  border-top: 1px solid rgb(61, 113, 182);
  border-left: 4px solid rgb(61, 113, 182);
  border-top-left-radius: 10px;
  padding: 5px 0 0 10px;
}

a {
  color: lightgrey;
  text-decoration: none;
  background-color: rgb(61, 113, 182);
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
}

a:hover {
  background-color: blue;
}


.button, button {
  background-color: gray;
  display: inline-block;
  padding: 2px;
  text-decoration: none;
  color: lightgrey;
  border-radius: 4px;
  border: 0px;
  width: 100px;
  text-align: center;
}

.button:hover, button:hover {
  background-color: blue;
}

main {
  padding: 0 50px;
}

.row, form {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 8px;
}

.delete-form {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 238, 238);
  border-bottom: 1px solid rgb(224, 224, 224);
  border-left: 1px solid rgb(224, 224, 224);
  border-right: 1px solid rgb(224, 224, 224);
  padding: 0 8px;
}

.clear {
  background-color: white;
  border: none;
}

.head {
  border-top: 1px solid rgb(224, 224, 224);
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 18px;
}

.row div, form div {
  width: 20vw;
  margin: 2px 0;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

label {
  margin-bottom: 5px;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input, select, button, .button {
  font-size: 14px;
}

select, input {
  width: 200px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(61, 113, 182);
  height: 50px;
}

nav a {
  margin: 0 10px;
}

.highlight {
  color: white;
  background-color: rgb(61, 113, 182);
  font-weight: bold;
}

.red {
  color: red;
}

