<%- include('../partials/header') %>

    <h1>New Flight</h1>
    <form action="/flights" method="POST">
        <div>
            <label for="airline">Airline:</label>
            <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </div>
        <div>
            <label for="flightNo">Flight # (10-9999):</label>
            <input type="number" name="flightNo" required min="10" max="9999">
        </div>
        <div>
            <label for="departs">Departure Date/Time:</label>
            <input type="datetime-local"
            name="departs" value="<%= new Date().toISOString().slice(0,16)%>"
            min="2000-01-01T00:00" max="2100-06-14T00:00" required>
        </div>      
        <div>
            <label for="airport">Airport:</label>
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DAL">DAL</option>
                <option value="LAX">LAX</option>
                <option value="SEA">SEA</option>
            </select>
        </div>
        <div class="right">
            <button type="submit">Add Flight</button>  
        </div>
    </form>

<%- include('../partials/footer') %>